* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

p, h1, h2, h3, h4, h5, h6, ul, li, img, section, main, figure, article, aside, footer, header {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #232323;
  font: 18px "Lato", sans-serif;
}

h1 {
  color: #FCFCFC;
  font: bold 8rem "Playfair Display", serif;
  font-optical-sizing: auto;
  text-align: center;
  line-height: 5rem;
  letter-spacing: 0.3rem;
}

h2 {
  color: #FCFCFC;
  font: bold 2rem "Lato", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h3 {
  color: #232323;
  font: bold 42px "Playfair Display", serif;
  text-align: center;
  margin: 2rem auto;
}

img {
  display: block;
  width: 100%;
}

nav {
  color: #FCFCFC;
  display: flex;
  font: bold 18px "Lato", sans-serif;
  line-height: 29px;
}
nav ul {
  display: flex;
  list-style: none;
}

section {
  padding: 65px 0;
}
section p {
  font-size: 1.15rem;
  line-height: 1.7rem;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 80px;
  width: 100%;
}

.about p.more {
  background: #E7A8E6;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 40px auto;
  padding: 10px 40px;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.about p.more:hover {
  background: #37A8E6;
  color: #FCFCFC;
}

header {
  background-image: url("../assets/asset-1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 768px;
}
header nav {
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}
header a {
  color: #FCFCFC;
  text-decoration: none;
}

.logo {
  font: bold 2rem "Playfair Display", serif;
}

.headerNav {
  display: flex;
  flex-basis: 50%;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  justify-content: space-between;
  text-transform: uppercase;
}
.headerNav li {
  position: relative;
}
.headerNav li:after {
  content: "";
  pointer-events: none;
  border-bottom: solid 1px #FCFCFC;
  position: absolute;
  height: 110%;
  left: 50%;
  width: 0%;
  transition: all 0.4s;
}
.headerNav li:hover:after {
  width: 120%;
  left: -10%;
}

.socials {
  color: #FCFCFC;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -75px;
  align-items: center;
  justify-content: space-between;
  height: 240px;
  margin: calc(50vh - 120px) 0 0;
}
.socials a {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials a:hover {
  color: #37A8E6;
  background: rgba(0, 0, 0, 0.2666666667);
  border-radius: 10px;
}

.headerContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.headerText {
  margin-bottom: 100px;
}

.about {
  background: #F0F5FF;
}
.about p {
  padding: 0 25%;
  text-align: center;
}

.galleryBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galleryBox figure {
  flex-basis: 31%;
  position: relative;
}
.galleryBox figure:hover figcaption {
  opacity: 1;
}
.galleryBox figcaption {
  background: rgba(167, 120, 182, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
}

.socialsGallery {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.socialsGallery a {
  align-items: center;
  color: #FCFCFC;
  display: flex;
  height: 2rem;
  justify-content: center;
  text-decoration: none;
  width: 2rem;
}
.socialsGallery a:hover {
  color: #37A8E6;
  background: rgba(0, 0, 0, 0.2666666667);
  border-radius: 10px;
}

.galleryText {
  border-top: solid 1px #FCFCFC;
  color: #FCFCFC;
  cursor: default;
  display: block;
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding: 1rem 0;
  text-align: center;
  width: 80%;
}