body {
  color: $black;
  font: 18px $lato;
}

h1 {
  color: $white;
  font: bold 8rem $playfair;
  font-optical-sizing: auto;
  text-align: center;
  line-height: 5rem;
  letter-spacing: 0.3rem;
}

h2 {
  color: $white;
  font: bold 2rem $lato;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h3 {
  color: $black;
  font: bold 42px $playfair;
  text-align: center;
  margin: 2rem auto;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

nav {
  color: $white;
  display: flex;
  font: bold 18px $lato;
  line-height: 29px;
  ul {
    display: flex;
    list-style: none;
  }
}

section {
  padding: 65px 0;
  p {
    font-size: 1.15rem;
    line-height: 1.7rem;
  }
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 80px;
  width: 100%;
}

.about p.more {
  background: $pink;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 40px auto;
  padding: 10px 40px;
  text-transform: uppercase;
  width: fit-content;
  &:hover {
    background: $accent;
    color: $white;
  }
}