// COLOURS
$accent: #37A8E6;
$blackshade: #1F2022;
$black: #232323;
$grey: #D8D8D8;
$palegrey: #F0F5FF;
$pink: #E7A8E6;
$pinkfade: #A778B6CC;
$white: #FCFCFC;

// FONTS
$playfair: "Playfair Display", serif;
$lato: "Lato", sans-serif;